USE [master]
GO
/****** Объект:  Database [GazpromDb]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
CREATE DATABASE [GazpromDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GazpromDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GazpromDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GazpromDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GazpromDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GazpromDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GazpromDb]
GO
/****** Объект:  Table [dbo].[Fields]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[FieldID] [int] IDENTITY(1,1) NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](100) NULL,
	[DiscoveryDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[GasPrices]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GasPrices](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[PriceDate] [date] NOT NULL,
	[PricePer1000m3] [decimal](12, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Maintenance]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[MaintenanceID] [int] IDENTITY(1,1) NOT NULL,
	[WellID] [int] NOT NULL,
	[WorkType] [nvarchar](100) NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Description] [nvarchar](max) NULL,
	[ResponsiblePerson] [nvarchar](100) NULL,
	[Result] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[WellMeasurements]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WellMeasurements](
	[MeasurementID] [bigint] IDENTITY(1,1) NOT NULL,
	[WellID] [int] NOT NULL,
	[MeasurementDate] [datetime2](7) NOT NULL,
	[GasVolume] [decimal](15, 2) NULL,
	[Pressure] [decimal](8, 2) NULL,
	[Temperature] [decimal](5, 2) NULL,
	[OperatorName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasurementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Wells]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wells](
	[WellID] [int] IDENTITY(1,1) NOT NULL,
	[FieldID] [int] NOT NULL,
	[WellNumber] [nvarchar](50) NOT NULL,
	[WellType] [nvarchar](50) NULL,
	[Depth] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[CommissioningDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[WellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fields] ON 

INSERT [dbo].[Fields] ([FieldID], [FieldName], [Region], [DiscoveryDate]) VALUES (1, N'Уренгойское', N'ЯНАО', CAST(N'1966-06-06' AS Date))
INSERT [dbo].[Fields] ([FieldID], [FieldName], [Region], [DiscoveryDate]) VALUES (2, N'Ямбургское', N'ЯНАО', CAST(N'1969-09-01' AS Date))
INSERT [dbo].[Fields] ([FieldID], [FieldName], [Region], [DiscoveryDate]) VALUES (3, N'Заполярное', N'ЯНАО', CAST(N'1965-10-15' AS Date))
SET IDENTITY_INSERT [dbo].[Fields] OFF
GO
SET IDENTITY_INSERT [dbo].[GasPrices] ON 

INSERT [dbo].[GasPrices] ([PriceID], [PriceDate], [PricePer1000m3], [Currency]) VALUES (1, CAST(N'2026-08-30' AS Date), CAST(4759.00 AS Decimal(12, 2)), N'RUB')
INSERT [dbo].[GasPrices] ([PriceID], [PriceDate], [PricePer1000m3], [Currency]) VALUES (2, CAST(N'2026-08-29' AS Date), CAST(4582.00 AS Decimal(12, 2)), N'RUB')
INSERT [dbo].[GasPrices] ([PriceID], [PriceDate], [PricePer1000m3], [Currency]) VALUES (3, CAST(N'2026-08-28' AS Date), CAST(4505.00 AS Decimal(12, 2)), N'RUB')
SET IDENTITY_INSERT [dbo].[GasPrices] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintenance] ON 

INSERT [dbo].[Maintenance] ([MaintenanceID], [WellID], [WorkType], [StartDate], [EndDate], [Description], [ResponsiblePerson], [Result]) VALUES (1, 1, N'Аварийный ремонт', CAST(N'2026-08-23T19:41:25.1333333' AS DateTime2), CAST(N'2026-08-17T19:41:25.1333333' AS DateTime2), N'Плановая проверка состояния оборудования', N'Козлов К.К.', N'Завершено с замечаниями')
INSERT [dbo].[Maintenance] ([MaintenanceID], [WellID], [WorkType], [StartDate], [EndDate], [Description], [ResponsiblePerson], [Result]) VALUES (2, 1, N'Аварийный ремонт', CAST(N'2026-05-25T19:41:25.1333333' AS DateTime2), CAST(N'2026-05-25T19:41:25.1333333' AS DateTime2), N'Замена изношенных деталей', N'Козлов К.К.', N'Успешно завершено')
INSERT [dbo].[Maintenance] ([MaintenanceID], [WellID], [WorkType], [StartDate], [EndDate], [Description], [ResponsiblePerson], [Result]) VALUES (3, 1, N'Профилактика', CAST(N'2026-05-17T19:41:25.1333333' AS DateTime2), CAST(N'2026-05-20T19:41:25.1333333' AS DateTime2), N'Устранение неисправностей', N'Иванов И.И.', N'Успешно завершено')
SET IDENTITY_INSERT [dbo].[Maintenance] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Role], [IsActive]) VALUES (5, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Администратор Системы', N'Администратор', 1)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Role], [IsActive]) VALUES (6, N'engineer', N'8cb2237d0679ca88db6464eac60da96345513964', N'Иванов Иван Иванович', N'Инженер', 1)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Role], [IsActive]) VALUES (7, N'operator', N'e99a18c428cb38d5f260853678922e03abd83321', N'Петров Петр Петрович', N'Оператор ТО', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WellMeasurements] ON 

INSERT [dbo].[WellMeasurements] ([MeasurementID], [WellID], [MeasurementDate], [GasVolume], [Pressure], [Temperature], [OperatorName]) VALUES (1, 1, CAST(N'2026-08-31T03:41:24.6433333' AS DateTime2), CAST(121.33 AS Decimal(15, 2)), CAST(67.98 AS Decimal(8, 2)), CAST(41.06 AS Decimal(5, 2)), N'Иванов И.И.')
INSERT [dbo].[WellMeasurements] ([MeasurementID], [WellID], [MeasurementDate], [GasVolume], [Pressure], [Temperature], [OperatorName]) VALUES (2, 1, CAST(N'2026-08-31T15:41:24.6433333' AS DateTime2), CAST(146.43 AS Decimal(15, 2)), CAST(68.89 AS Decimal(8, 2)), CAST(39.05 AS Decimal(5, 2)), N'Иванов И.И.')
INSERT [dbo].[WellMeasurements] ([MeasurementID], [WellID], [MeasurementDate], [GasVolume], [Pressure], [Temperature], [OperatorName]) VALUES (3, 1, CAST(N'2026-08-30T03:41:24.6466667' AS DateTime2), CAST(149.13 AS Decimal(15, 2)), CAST(74.67 AS Decimal(8, 2)), CAST(41.67 AS Decimal(5, 2)), N'Петров П.П.')
GO
SET IDENTITY_INSERT [dbo].[WellMeasurements] OFF
GO
SET IDENTITY_INSERT [dbo].[Wells] ON 

INSERT [dbo].[Wells] ([WellID], [FieldID], [WellNumber], [WellType], [Depth], [Status], [CommissioningDate]) VALUES (1, 1, N'У-101', N'эксплуатационная', CAST(3200.50 AS Decimal(10, 2)), N'действующая', CAST(N'1980-01-15' AS Date))
INSERT [dbo].[Wells] ([WellID], [FieldID], [WellNumber], [WellType], [Depth], [Status], [CommissioningDate]) VALUES (2, 1, N'У-102', N'эксплуатационная', CAST(3150.00 AS Decimal(10, 2)), N'действующая', CAST(N'1981-03-20' AS Date))
INSERT [dbo].[Wells] ([WellID], [FieldID], [WellNumber], [WellType], [Depth], [Status], [CommissioningDate]) VALUES (3, 2, N'Я-201', N'эксплуатационная', CAST(3400.75 AS Decimal(10, 2)), N'действующая', CAST(N'1990-07-12' AS Date))
SET IDENTITY_INSERT [dbo].[Wells] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__536C85E4056DCB23]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Wells__C8548FCE65560658]    Дата создания скрипта: 02.09.2026 12:10:34 ******/ 
ALTER TABLE [dbo].[Wells] ADD UNIQUE NONCLUSTERED 
(
	[WellNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GasPrices] ADD  DEFAULT (N'RUB') FOR [Currency]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'Инженер') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Wells] ADD  DEFAULT (N'действующая') FOR [Status]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD FOREIGN KEY([WellID])
REFERENCES [dbo].[Wells] ([WellID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WellMeasurements]  WITH CHECK ADD FOREIGN KEY([WellID])
REFERENCES [dbo].[Wells] ([WellID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wells]  WITH CHECK ADD FOREIGN KEY([FieldID])
REFERENCES [dbo].[Fields] ([FieldID])
GO
USE [master]
GO
